/* public/fonts/Chalkboy.ttf */
/* public/fonts/CourierNew.ttf */
@font-face {
  font-family: 'Chalkboy';
  src: url('/fonts/Chalkboy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Courier New';
  src: url('/fonts/CourierNew.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.active {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .active {
    text-decoration: none;
    color: #0367AB;
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.breathing-animation {
  animation: breathing 2s infinite;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}